@charset "UTF-8";
body{background-color: black;}
.wrap{ /*  게임화면 설정 */
	width: 1000px; height: 600px;
	margin: 0 auto; 
	position: relative;
	background-image: url("img/게임배경.jfif");
	background-size: 108%;	/* 배경 사이즈*/
	background-repeat: no-repeat;	/* 배경 반복 제거*/
}
/* -------------체력바 부분---------------------*/
.hpbox{width: 400px; position: relative;}
.userHP, .mobHP{
	width: 100%; height: 30px;
	background-color: red;
	position: absolute;
	top: 50px;
	border: 2px solid black;
	border-radius: 15px;
}
.userinfo{
	width: 450px; height: 50px;
	position: absolute;
	top: 25px; left: 30px;
}
.userHP{left: 5px;}
.mobHP{	left: 590px; display: flex; flex-wrap: wrap;}
/* -------------이미지 부분---------------------*/
.textbox{
	width: 400px; height: 50px;
	position: absolute;
	top: 150px; left: 300px;
	text-align: center;
	color: white;
	font-size: 20px;
	font-weight: bold;
}
/* -------------이미지 부분---------------------*/

.userbox{
	width: 100px; height: 100px;
	position: absolute;	/* 절대 위치 : 상위요소 relative*/
	left: 10px; top: 430px;
	background-image: url("img/mario1.png");
	background-size: 90%;
	background-repeat: no-repeat;
}

.monbox{
	width: 150px; height: 150px;
	position: absolute;	/* 절대 위치 : 상위요소 relative*/
	top: 430px;
	background-repeat: no-repeat;
	/*애니메이션 이동효과 : 1초간 부드럽게 이동*/
	transition : all 1s;
}

.logbox, .logbox2{
	text-align: center;
}