@charset "UTF-8";



.flex_box1{
	border: solid 1px red;	
	padding: 5px;
	display: flex;		/* 가로배치 할 요소들의 상위 요소에 적용 */
}

.flex_box2{
	border: solid 1px red;	
	padding: 5px;
	display: flex;
	flex-direction: column;
}

.flex_box3{
	border: solid 1px red;	
	padding: 5px;
	display: flex;
	flex-direction: row-reverse;
}
.flex_box4{
	border: solid 1px red;	
	padding: 5px;
	display: flex;
	flex-direction: column-reverse;
}

.box{
	border: solid 1px blue;
	width: 100px;
	height: 50px;
}


