@charset "UTF-8";

#web_box{
	border: 1px solid red;
}

#header{ /* 헤더 */
	background-color: blue;
	height: 200px;
}
#content{ /* 컨텐츠*/
	background-color: orange;
	height: 600px;
	width: 1200px;	/* pc기준 : 1050px~1300px */
	margin: 0 auto;
	display: flex;
}

#left_menu{ /* 왼쪽 메뉴*/
	background-color: gray;
	height: 600px;
	width: 900px;		/* 부모[상위요소]:1200px / 부모-본인 = 300px - 4px*/	
}

#right_menu{ /* 오른쪽 메뉴*/
	background-color: purple;
	height: 600px;
	width: 290px;		/* 부모-왼쪽메뉴 = 296px*/	
}
#footer{ /* 푸터 */
	background-color: black;
	height: 200px;
}