@charset "UTF-8";


/* 게시물 출력 구역 */
.boardbox{
	width: 80%;
	margin: 70px auto;
}

.boardtop{
	text-align: center;
}

.cname{
	font-family: 'KimjungchulMyungjo-Bold';
}

.boardTopETC{
	display : flex;
	justify-content: space-between;
}

.bbtn{
	border: none;
	background-color: #139ab8; 
	padding: 5px 10px;
	border-radius: 10px;
	color : white;
}

.bcontent{
	margin: 40px 0ox;
	border-top: 10px; 
	padding : 20px 10px ;
	border-top: 1px solid #eeeeee;
}

.bdate{	font-size: 8px;}
.btitle{
	margin-top: 30px; 
	font-weight: bold; 
	font-size: 20px;
}
.contentbot{text-align: right;}
.contentbot span{padding-left: 3px;}

.boardbot{
	text-align: center;
	border-top: 1px solid #eeeeee;
	padding-top: 10px;
}

.pagebox button{
	border: none;
	font-weight: bold;
	background-color: transparent;
	margin : 0px 3px;
	font-size: 20px;
}

.keyword{
	border: 1px solid #e8e8e8;
	padding: 10px;
	border-radius: 15px;
}












