@charset "UTF-8";


/* 모달 배경 만들기 */
.modal_wrap{
	background-color : rgb(160,160,160,50%);
	position : fixed;	/* 고정위치 */
	/* 카카오지도 z-index */
	z-index : 999;		/* 다른 position css와 겹쳤을때 우선순위 */
	top : 0;	left : 0; /* 왼쪽 상단 고정*/
	width : 100%;	height : 100%; /*모든화면감싸기*/
	/* 내용물 가운데 정렬 */
	display: flex;
	justify-content: center;	align-items: center;
	/* 처음에는 숨기기 */
	display : none;
}

/* 모달 상자 */
.modal_box{
	background-color: white;
	width: 30%;
	padding: 5%;
	border: 3px solid;
	border-radius: 50px;
}

/* 모달 버튼 꾸미기 */
.modal_btns button{
	background-color: #eeeeee;
	border-color : #eeeeee;
	padding: 5px;
}
