@charset "UTF-8";

.table tr td{
	/* 구역사이즈보다 내용이 컸을때 내용이 자동 줄바꿈 해제*/
	white-space: nowrap;	
	/* 내용이 사이즈보다 커졌을때
		hidden : 넘은 내용물 숨기기
		scroll : 넘친 내용물이 있을 시 scroll 생성
	*/
	overflow: hidden;
	/* 
		텍스트가 구역 사이즈보다 커졌을때 모양
			ellipsis : 넘친 텍스트를 ...으로 표현
	 */
	text-overflow: ellipsis;
	/* 
		구역사이즈보다 내용이 컸을때 내용이 자동 줄바꿈 해제 white-space: nowrap과 동일
		white-space: nowrap과 동일 -> white-space: nowrap을 썼다면 생략해도 이상 없음
	*/
	word-break: break-all;
	/* 반응형인 경우 최대 사이즈 */
	max-width: 100px;
}