@charset "UTF-8";

/*
	class, id 정의[만들기]
		1. 영문
		2. 띄어쓰기 대신 _사용
		3. 한글,숫자,특수문자X
		4. 이해하기 쉬운 단어 사용
*/

.head{
	text-align: center;
}

.signup_form{
	width: 600px;
	margin: 0 auto;	/*박스 가운데 정렬*/
	border-top: solid 2px red;	/* 위쪽 여백*/
	padding: 30px;	/* 안쪽 여백*/
}


/* li[block(기본값) -> inline-block*/
.colums li{display: inline-block;}

/* 글머리 제거*/
.signup_box li{list-style-type: none;}

/* li 사이즈 조정*/
.colums{padding: 5px;}
.colums .col1{width: 150px;}
.colums .col2 input{width: 250px; height: 25px;}
.colums .col2 select{width: 100px; height: 30px;}


/* 입력 textarea 사이즈 고정 */
textarea{
	resize: none;
}

/* 버튼들의 box */
.btn_box{text-align: right;}

/* 버튼 사이즈 변경 */
.btn_box input{
	padding: 10px 20px;
	margin: 10px 7px 0px 0px;
	background-color: #EEEEEE;
}

div{
	border-top: solid 2px red;	/* 위쪽 여백*/
}

/* 인사말 텍스트 세로 정렬*/
.col3{ 
	width: 150px;
	vertical-align: top;
}







