@charset "UTF-8";

/* 가운데 정렬*/

h3{text-align: center;}

.login_t{
	margin: 0 auto;	/*박스의 가운데 정렬*/
	width: 400px;
}

/*  */
.login_t .input_id, .input_pw{
	height: 30px; width: 200px;
}

.btn_login{
	padding: 30px 20px;
}